@page "/newcalendar"
@inject IReservationRepository ReservationService
@using SharedLibrary.ReservationRepositories1
@using static SharedLibrary.Models.Reservation
@inject NavigationManager NavigationManager

@if (Reservations.Count > 0)
{
<h6 class="center-content">
    <img src="/images/1.jpg" style="width: 40px; height: 40px;" />
    <span class="special-font"> A</span>
</h6>        
<table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @foreach (var date in dates)
                {
                    <th>@date.ToString("MM/dd")</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>☀️</span> <!-- 太陽圖示表示上午 -->
                    <br />
                    <small>9:00-13:00</small>
                </td>
                @foreach (var date in dates)
                {
                    <td class="align-middle">
                        @{
                            var reservation = Reservations.FirstOrDefault(r => r.Day.Date == date.Date && r.SlOt == "morning" && r.BedId == "A");
                            var isReserved = !string.IsNullOrEmpty(reservation?.PatientId);
                        }
                        @if (isReserved)
                        {
                            <button class="btn btn-secondary-disabled" disabled>預約已滿</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="()=>Edit(reservation)">點我預約</button>
                        }
                    </td>

                }
            </tr>
            <tr>
                <td>
                    <span>🌙</span> <!-- 月亮圖示表示下午 -->
                    <br />
                    <small>14:00-18:00</small>
                </td>
                @foreach (var date in dates)
                {
                    <td class="align-middle">
                        @{
                            var reservation = Reservations.FirstOrDefault(r => r.Day.Date == date.Date && r.SlOt == "afternoon" && r.BedId == "A");
                            var isReserved = !string.IsNullOrEmpty(reservation?.PatientId);
                        }
                        @if (isReserved)
                        {
                            <button class="btn btn-secondary-disabled" disabled>預約已滿</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="()=>Edit(reservation)">點我預約</button>
                        }
                    </td>

                }
            </tr>
        </tbody>
    </table>

<h6 class="center-content">
    <img src="/images/1.jpg" style="width: 40px; height: 40px;" />
    <span class="special-font"> B</span>
</h6>            <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @foreach (var date in dates)
                {
                    <th>@date.ToString("MM/dd")</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>☀️</span> <!-- 太陽圖示表示上午 -->
                    <br />
                    <small>9:00-13:00</small>
                </td>                @foreach (var date in dates)
                {
                    <td class="align-middle">
                        @{
                            var reservation = Reservations.FirstOrDefault(r => r.Day.Date == date.Date && r.SlOt == "morning" && r.BedId == "B");
                            var isReserved = !string.IsNullOrEmpty(reservation?.PatientId);
                        }
                        @if (isReserved)
                        {
                            <button class="btn btn-secondary-disabled" disabled>預約已滿</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="()=>Edit(reservation)">點我預約</button>
                        }
                    </td>

                }
            </tr>
            <tr>
                <td>
                    <span>🌙</span> <!-- 月亮圖示表示下午 -->
                    <br />
                    <small>14:00-18:00</small>
                </td>                @foreach (var date in dates)
                {
                            <td class="align-middle">
                        @{
                            var reservation = Reservations.FirstOrDefault(r => r.Day.Date == date.Date && r.SlOt == "afternoon" && r.BedId == "B");
                            var isReserved = !string.IsNullOrEmpty(reservation?.PatientId);
                        }
                        @if (isReserved)
                        {
                            <button class="btn btn-secondary-disabled" disabled>預約已滿</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="()=>Edit(reservation)">點我預約</button>
                        }
                    </td>

                }
            </tr>
        </tbody>
    </table>
}
else
{
    <p>No reservations found.</p>
}


@code {
    private DateTime startDate = new DateTime(2024, 5, 27);
    private DateTime endDate = new DateTime(2024, 6, 5);

    private List<DateTime> dates;
    private bool isLoading = true;
    private bool hasError = false;

    private List<Reservation> Reservations { get; set; } = new();

    private  async Task LoadReservations()
    {
        dates = new List<DateTime>();
        for (var date = startDate; date <= endDate; date = date.AddDays(1))
        {
            dates.Add(date);
        }
        var reservations = await ReservationService.GetAllReservationsAsync();
        Reservations?.Clear();
        if (Reservations is null) return;
        foreach (var reservation in reservations)
            Reservations.Add(reservation);
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadReservations();
    }

    private void Edit(Reservation model)
    {
        NavigationManager.NavigateTo($"arrangepage/{model.Id}");
    }
}


<style>
    .table-container {
        max-width: 100%;
        overflow:auto;
    }
    table {
        width: 100%;
        table-layout: fixed;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        white-space: nowrap; /* Prevent text wrapping */
    }

    th {
        background-color: #f2f2f2;
    }

    .btn {
        width: 80px;
        height: 35px;
        font-size: 14px;
        font-weight: bold;
    }

    .btn-secondary-disabled {
        background-color: #675a6b;
        color: #fff;
        border: 1px solid #675a6b;
    }

    .btn-primary {
        background-color: #bbafaf;
        color: #fff;
        border: 1px solid #bbafaf;
    }

        .btn-primary:hover {
            background-color: #6c757d;
        }

    table th,
    table td {
        border: none;
    }
    .center-content {
        display: flex;
        align-items: center; /* 垂直置中 */
    }
    .special-font {
        font-family: 'Blippo', fantasy;
        font-size: 30px;
        /* 如果字體名稱帶有空格，請用單引號括起來 */
    }
        .time-slot {
        display: flex;
        flex-direction: column;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
    }
</style>